
footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(8, 98, 8);
  color: white;
  text-align: left;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
}

.footer-section {
    flex: 1;
    padding: 15px;
    border-right: 2px solid #FFCC33;
    width: 100%; /* Ensures it takes the full width */
    box-sizing: border-box;
}
.footer-section:last-child {
    border-right: none;
}

a {
    color: white !important; /* Default link color */
    text-decoration: none !important; /* Removes underline */
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #FFCC33 !important; /* Color when hovered */
    text-decoration: underline !important; /* Adds underline on hover */

}

 html, body{
     height: 100%;
     margin: 0;
 }

 .container{
     min-height: 100vh;
     display: flex;
     flex-direction: column;
 }
 .content{
     flex: 1;
 }