:root{
    --text-color: rgb(20, 236, 92);
    --link-color: rgba(105, 156, 10, 0.735); /* so i don't have to memorize or keep going back to this*/
    --background-color: yellow;
    --box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* a lot of reused code copied from Cart.css*/
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.profile-container{
    max-width: 1000px;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}

.profile-container .profile-header{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.profile-picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    background-color: #e0e0e0;
}

.profile-picture:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.profile-container .user-info{
display: flex;
flex-direction: column;
}

.profile-container .user-info h1{
    font-size: 2.5em;
    color: var(--link-color);
}
.profile-container .user-info p{
    font-size: 1.5em;
    color: var(--link-color);
}

.profile-container .profile-links{
    display: flex;
    flex-direction: column;

    gap: 10px;
}
.profile-container .profile-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(50 120 210);
    border-color: rgb(50 120 210);
    font-size: 1.2em;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}


.profile-container .profile-link:hover{
    background-color: rgb(50 120 210);
    color: white;
}



.profile-container .profile-link i{
    font-size: 1.5em;
}



.profile-container .profile-links-logout{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profile-container .profile-link-logout {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(230 10 70);
    border-color: rgb(230 10 70);
    font-size: 1.2em;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
.profile-container .profile-link-logout:hover{
    background-color: rgb(230 10 70);
    color: white;
}


/* from iffats ribbon file */


/**Make sure to understand how the css class selectors here 
work with the child elements. Specifically, that child elements
in the html document do not write class and the css class. Rfer to navabr and navabr i**/

/* set the positioning of the navabr*/
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    
  }
  
  /* apply css elements to the a tag (hyperlinks) */
  .navbar a{
    position: relative;
    color: white !important;
    text-decoration: none;
    display: inline-block;
    /** Margin adds space outside of it and and other elements**/
    padding: 10px;
    margin-right: 20px;
    cursor: pointer;
    z-index: 10;
  
  }
  
  .NA-list{
    margin-left: 500px;
    font-weight: bold;
    margin-top: 50%;
    font-size: 1.2rem;
    text-align: center;
  }
  
  
  .navbar .nav-link:hover{
    color: gold !important;
  }
  
  /* Apply css to the font awsome elements, remember they come in tags of i */
  .navbar i{
    position: relative;
    bottom: -15px;
  }
  
  /* apply css to search bar */
  .navbar input{
    position: relative !important;
    width: 100%;
    max-width: 410px;
    left: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  /** This css is for the profile icon from font awsome **/
  #ProfileIcon{
    bottom: 0px;
  }
  
  /* apply css when hovering over a element */ 
  
  
  .navbar button{
    background-color: white;
  
  }
  .nav-link{
    cursor: pointer;
  }
  
  .navbar i{
    color: white;
  }
  
  /** The following css is for the W button and a message appearing when hovering over it **/
  
  .button-Container{
    position: relative;
    display: inline-block;
  }
  
  #MainButton{
    color: transparent !important;
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
  
  
  
  .hover-message{
    opacity: 0; /** affect the transpaerncy or the clarity of the element**/
    visibility: hidden;
    background-color: rgb(8, 98, 8);
    color: white;
    padding: 10px 20px;
    position: absolute;
    top: 100%;
    left: 30px;
    transform: translateX(-50%);
    white-space: nowrap;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0S; 
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
    
  }
  
  .hover-message:hover{
    color:gold;
  }
  .button-container:hover .hover-message{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0s;
  }
  
  #HomeIcon{
    position: absolute;
    left: 2px;
    top: 15px;
    font-size: 13px;
    
  
  }
  
  
  /** Under stand the difference between opacity and visibility
  They both revolve around how an element appears
  Opacity controls the transparency of an element (values 0-1)
  
  **/
  
  
  /** WSU text in the middle of the nav bar **/
  
  #NavText{
    position: relative;
    color: gold;
    text-align: center;
    width: 100%;
    top: -50px;
    left: 6px;
  }
  
  /** The css below is for the search icon on the right */
  #RightButton{
    position: relative  !important;
    border: 12px solid transparent !important; /** the thickness of the border **/
    border-radius: 0px !important; /** the corners of the border **/
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px  !important;
    background-color: gold; /** Color of button we use background color, otherwise color alone only affects the text color in the button **/
    cursor: pointer;
    right: -4px;
  }
  
  #RightButton:hover{
    background-color: goldenrod !important;
    color: white;
  }
  
  #searchicon{
    position: absolute;
    bottom: -3px;
    right: -1px;
    font-size: 19px;
    color: green
    
  }
  .navbar .form-control{
    z-index: 1000; /*Place search bar on top*/
    position: relative;
  }
 


 
 

/*iffat code end*/


/* footer css */ 
/*
footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100p;
    background-color: rgb(8, 98, 8);
    color: white;
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    margin-top: 40px;
  }
  
  .footer-section {
      flex: 1;
      padding: 15px;
      border-right: 2px solid #FFCC33;
      width: 100%; 
      box-sizing: border-box;
  }
  .footer-section:last-child {
      border-right: none;
  }
  
  a1 {
      color: white ; 
      text-decoration: none ; 
      transition: color 0.3s ease-in-out;
  }
  
  a1:hover {
      color: #FFCC33 ; 
      text-decoration: underline ; 
  
  
  }
  
  
  
  
   html, body{
       height: 100%;
       margin: 0;
   }
  
   .container{
       min-height: 100vh;
       display: flex;
       flex-direction: column;
   }
   .content{
       flex: 1;
   } */




